*               text=auto
*.gitattributes text
.gitignore      text
*.md            text diff=markdown
*.gitattributes linguist-language=gitattributes
*.png binary
*.jpg binary
# *.jpg filter=lfs diff=lfs merge=lfs -text
# *.png filter=lfs diff=lfs merge=lfs -text